
    body {
        background-color: black;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .vraag {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        padding-top: 4.1%;
        padding-bottom: 4%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    
    .flexcont {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    h1 {
        color: white;
    }
    
    .optie {
        color: white;
        width: 23%;
        height: 33%;
        margin-top: 575px;
        transition: all 550ms;
    }
    
    .optie:hover {
        box-shadow: 0 0 8px 5px rgba(189,96,8,1);
        margin-top: 0px;
        transition: all 550ms;
    }
    
    .container {
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-large;
        box-shadow: 0 0 8px 3px rgba(189,96,8,1);
    }

    .hover {
        width: 100%;
        height: 0%;
    }

    img { 
        width: 100%;
        height: 33%;
    }


@media only screen and (min-width: 2560px){
    body {
        background-color: black;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .vraag {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        padding-top: 4.8%;
        padding-bottom: 4%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .flexcont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    h1 {
        color: white;
    }
    
    .optie {
        color: white;
        width: 600px;
        height: 900px;
        margin-top: 860px;
        transition: all 550ms;
    }
    
    .optie:hover {
        box-shadow: 0 0 8px 5px rgba(189,96,8,1);
        margin-top: 100px;
        transition: all 550ms;
    }
    
    .container {
        color: white;
        padding-top: 17px;
        padding-bottom: 17px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-large;
        box-shadow: 0 0 8px 3px rgba(189,96,8,1);
    }
    
    .hover {
        width: 100%;
        height: 0%;
    }
    
    img { 
        width: 100%; 
        max-width: 600px; 
        height: 805px;
    }
}


  


  